* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  background: #181818;
  letter-spacing: 0.2px;
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.wrapper {
  display: flex;
  --webkit-box: flex;
}

h1 {
  margin: 0 auto 37px auto;
  font-weight: 500;
  font-size: 80px;
  line-height: 1.1;
  text-align: center;
  max-width: 723px;
}

h2 {
  font-weight: 400;
  font-size: 52px;
  line-height: 1.2;
  text-align: center;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.1px;
}

p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1054px;
  margin: 0 auto;
  padding: 0 15px;
}

.container--big {
  max-width: 1300px;
}

.caption {
  max-width: 574px;
  text-align: center;
  margin: 0 auto;
  font-size: 20px;
}

.link {
  display: inline-block;
  color: #ffffff;
  font-weight: 500;
  font-size: 17px;
  border: 1px solid #fff;
  padding: 14px 46px;
  filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));
}

.link--big {
  padding: 20px 40px;
}

.link--blue {
  background: #4452fe;
  border: 1px solid #4452fe;
}

.link--long {
  padding: 14px 67px;
}

.header {
  padding: 30px 0;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background: #181818;
  z-index: 100;
}

.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_img {
  max-width: 186px;
  width: 100%;
}

.promo {
  padding: 136px 0;
  background: url(/images/promo/screens.png) center top/cover no-repeat;
  margin-top: 125px;
}

.promo_caption {
  max-width: 591px;
  margin-bottom: 95px;
}

.promo_wrapper {
  display: flex;
  gap: 35px;
  justify-content: center;
}

.features {
  padding: 62px 0 262px;
}

.features_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.features_title {
  margin-bottom: 27px;
}

.features_caption {
  max-width: 591px;
  margin-bottom: 81px;
}

.features_img_wrapper {
  position: relative;
  max-width: 696px;
}

.features_img {
  width: 100%;
}

.features_img_small {
  width: 58%;
  position: absolute;
  right: -28px;
  bottom: -38px;
}

.features_items {
  max-width: 251px;
  list-style: none;
}

.features_item {
  margin-bottom: 45px;
}

.features_item_head {
  display: flex;
  margin-bottom: 20px;
}

.features_item_img--first {
  width: 25px;
  margin-right: 13px;
}

.features_item_img--second {
  width: 29px;
  margin-right: 12px;
}

.features_item_img--third {
  width: 41px;
  margin-right: 10px;
}

.features_item_title {
  width: 154px;
}

.contents {
  padding: 160px 0 150px;
  text-align: center;
}

.contents_title {
  margin-bottom: 20px;
}

.contents_caption {
  margin-bottom: 54px;
}

.contents_items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 33px;
}

.contents_item {
  display: flex;
  gap: 35px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 47.5%;
  padding: 50px 35px 40px;
  background-color: #ffffff;
  border-radius: 10px;
}

.contents_item_title {
  color: #000000;
  margin-bottom: 30px;
}

.contents_item_text {
  color: #5c5c5c;
  width: 271px;
}

.contents_item_img {
  width: 100%;
}

.gallery {
  padding: 60px 0 50px;
  text-align: center;
}

.gallery_title {
  margin-bottom: 20px;
}

.gallery_caption {
  margin-bottom: 54px;
}

.gallery_wrapper {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-bottom: 44px;
  flex-wrap: wrap;
}

.gallery_picture {
  width: 22%;
}

.gallery_img {
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.partners {
  text-align: center;
  padding: 60px 0 50px;
}

.partners_title {
  margin-bottom: 20px;
}

.partners_caption {
  margin-bottom: 60px;
}

.partners_wrapper {
  display: flex;
  max-width: 916px;
  gap: 30px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 auto 55px;
}

.testimonials {
  padding: 160px 0 152px;
}

.testimonials_title {
  margin-bottom: 60px;
}

.testimonials_items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 23px;
}

.testimonials_item {
  padding: 40px 66px 40px 40px;
  width: 42%;
  border: 1px solid #dedede;
  border-radius: 10px;
}

.testimonials_item_head {
  display: flex;
  gap: 23px;
  margin-bottom: 30px;
}

.testimonials_item_img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.testimonials_item_name {
  display: flex;
  flex-direction: column;
}

.opentype {
  padding: 100px 0;
}

.opentype_wrapper {
  display: flex;
  justify-content: space-between;
}

.opentype_inner {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 15px 7.5% 15px 7.5%;
  width: 54%;
  gap: 37px;
  flex-direction: column;
  background: #343434;
  border-radius: 33px 0 0 33px;
}

.opentype_text {
  font-size: 52px;
  line-height: 1.2;
}

.opentype_img {
  width: 46%;
  border-radius: 0 33px 33px 0;
}

.fingertipe_wrapper {
  text-align: center;
  display: none;
}

.fingertipe_caption {
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.1px;
  margin-bottom: 40px;
}

.fingertipe_item {
  list-style: none;
  margin-bottom: 30px;
}

.fingertipe_link {
  color: #ffffff;
}

.footer {
  padding: 24px 0 34px;
  margin-top: 100px;
}

.footer_links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.footer_link {
  color: #ffffff;
}
